resource "aws_instance" "{{ prefix }}cowrie_server" {
  ami           = "${data.aws_ami.ubuntu.id}"
  count         = "${lookup(var.honeypot_counts, "cowrie", var.honeypot_counts["undefined"])}"
  instance_type = "${var.instance_type}"
  user_data     = "${file("user-data.txt")}"
  subnet_id = "${aws_subnet.{{ prefix }}stingar.id}"
  associate_public_ip_address = true
  vpc_security_group_ids = [
    "${aws_security_group.{{ prefix }}cowrie-server-sg.id}",
    "${aws_security_group.{{ prefix }}generic-honeypot-sg.id}"
  ]

  tags {
    Name    = "{{ prefix }}cowrie-server-${count.index}"
    Stingar_Type = "cowrie_server"
  }

}

resource "aws_security_group" "{{ prefix }}cowrie-server-sg" {
  name        = "{{ prefix }}cowrie-server-sg"
  description = "{{ prefix }}Cowrie Server Security Group"
  vpc_id = "${aws_vpc.{{ prefix }}stingar.id}"

  ingress {
    from_port = 22
    to_port = 22
    protocol = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }
}
