# Fluentd ENV variables
FLUENTD_HOST=fluentd
FLUENTD_PORT=24224
FLUENTD_KEY=secret
FLUENTD_APP=stingar


# Fluent Bit ENV variables
FLUENTBIT_HOST=fluentbit
FLUENTBIT_PORT=24284
FLUENTBIT_APP=stingar
FLUENTBIT_HOSTNAME=flb.local


COWRIE_IDENT=cowrie_ident
COWRIE_IP=10.10.10.10
COWRIE_HOST=cowrie.test.com

DIONAEA_IDENT=dionaea_ident
DIONAEA_IP=10.10.10.11
DIONAEA_HOST=dionaea.test.com


# List of tags to use for honeypots
# List should be comma separated
# Key value pairs should be colon delimited
# Non-key value pairs will be added to "misc" tag

# Example:
# TAGS=network:localnet,area:dmz,test_tag

TAGS=network:local,type:dmz,test_tag
